@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koh Santepheap', serif;
}
body{

    width: 100%;
    height: 100vh;

    background-color: rgb(255, 255, 255);

}


.btnStart{
    background: linear-gradient(182deg, rgb(0, 2, 255), rgb(255 255 255 / 0%), rgb(112, 0, 255));
    height: 35px;
    width: 155px;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 17px;
    text-align: center;
    text-decoration: none

}


header{
    width: 100%;
    height: 10%;
    background-color: rgba(38, 38, 38, 1);
}


.bar{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.logo{
    height: 95%;
}

.listProducts{
    background-color: rgb(235 235 235);;
    width: 95%;
    margin: 40px 0px 0px 0px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.products{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarjet{

    background-color: rgb(255 255 255);
    width: 290px;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headCard{

    background: linear-gradient(182deg, rgb(0, 2, 255), rgb(0, 0, 0), rgb(112, 0, 255));
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center

}

.fondProducts{
    
    background: white;
     width: 165px;
    height: 165px;
    border-radius: 100px;
    display: flex;
    justify-content: center;

}

.tarjet:hover img{
    transform: scale(1.2);
}

.fondProducts img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    
}

.description{
    display: flex;
    flex-direction: column;

    padding: 10px 27px 14px;


}

.description h1{
    margin: 0px 0 15px 0
}


.cost{
    padding: 0 0px 10px 25px;
    width: 100%;

}

.amount{
    padding: 0 0 15px 0px;
}

.keep button{
    width: 185px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

